<div class="container-fluid">
  <div class="row-fluid">
    <h1>Random: <a href="/info/{{d['random_company']['slug']}}">{{d['random_company']['name']}}</a></h1>
    <ul>
      {% if d['random_company']['headquarters'] %}
        <li>{{d['random_company']['headquarters'] }}</li>
      {% endif %}
    </ul>
  </div>
</div>  
<div class="container-fluid">
  <div class="row-fluid">
    <h1>Stats</h1>
    Currently indexing <b>{{d['stats']['company_count']}}</b> companies and <b>{{d['stats']['people_count']}}</b> people.
  </div>
</div>