<div class="container-fluid">
  <div class="row-fluid">
    <h2>{{d['company']['name']}}</h2>
    <p>Here will go the description of the company. It might be long, or really short, I dont fucking know.</p>
    <table class="table table-striped">
      <tr>
        {% if d['company']['industry'] %}
          <td>Industry</td>
          <td>{{d['company']['industry']}}</td>
        {%endif%}
      </tr>
    <table>
      {% if d['company']['wikipedia'] %}
        <small>
          <a href="{{d['company']['wikipedia']}}" target="_new">Wikpedia Article</a>
        </small>
        <br />
        <small>
          Last Updated: {{d['company']['date_updated'].strftime('%Y-%m-%d')}}
        </small>
        <br />
      {% endif %}
    </table>
  </div>
</div>
{{d}}