<!DOCTYPE html>
<html>
  <head>
    <title>FrameWork Admin : Erorr 404</title>

    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/default.css">

    <script type="text/javascript" src="/libs/jQuery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span4 offset4">
	  <h2>Error - 404</h2>
	  <p>Sorry, we cant find what you're looking for.</p>
        </div>

      </div><!-- end row -->
    </div><!-- end container -->

  </body>
</html>
