<div class="row">
  <div class="col-lg-12">
    <h1>Article</h1>
    <ol class="breadcrumb">
      <li><a href="/admin/articles/"><i class="icon-dashboard"></i> Articles</a></li>
      <li>
        <a href="/admin/articles/source/{{ d['article']['source']['id'] }}">{{ d['article']['source']['name'] }}</a>
      </li>
      <li>{{ d['article']['headline'] }}</li>
    </ol>
  </div>
</div><!-- /.row -->

<!-- Primary Info -->
<div class="col-lg-9">
  <h2>{{ d['article']['headline'] }}</h2>
  <a target="news" href="{{ d['article']['url'] }}" class="btn btn-inverse">Original Article</a>
  <br />
  {{ d['article']['content'] }}
</div>

<div class="col-lg-3">
  <div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
      <tbody>
        <tr>
          <td><b>Record Status</b></td>
          <td>{{ d['article']['record_status'] }}</td>
        </tr>
        <tr>
          <td><b>Published</b></td>
          <td>{{ d['article']['publish_date'] }}</td>
        </tr>
        <tr>
          <td><b>Date Updated</b></td>
          <td>{{ d['article']['date_updated'] }}</td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>
{{d['article']['source']}}


