<div class="row">
  <div class="col-lg-12">
    <h1>Good Consumer <small>Dashboard</small></h1>
    <ol class="breadcrumb">
      <li><a href="/admin/companies"><i class="icon-dashboard"></i> Dashboard</a></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="col-lg-6">
  <h2>Job Run Log</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
      <thead>
        <tr>
          <th class="header">Job</th>
          <th class="header">Start</th>
          <th class="header">End</th>
          <th class="header">Message</th>
        </tr>
      </thead>
      <tbody>
        {% for job in d['jobs'] %}
          <tr>
            <td>
              {% if job['job'] %}
                {% if job['job'] == 'fetch_company_news' %}
                  Fetch Company News
                {% else %}
                  {{ job['job'] }}
                {% endif %}
              {% endif %}
            </td>
            <td>{{ job['start'].strftime('%m-%d %I:%M %p') }}</td>
            <td>
              {% if job['end'] %}
                {{ job['end'].strftime('%I:%M %p') }}
              {% endif %}
            </td>
            <td>
              {% if job['message'] %}
                {{ job['message'] }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Recently Updated Companies -->
<div class="col-lg-6">
  <h2>Recently Updated Companies</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
      <thead>
        <tr>
          <th class="header">Company</th>
          <th class="header">Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for company in d['recently_updated_companies'] %}
          <tr>
            <td>
              <a href="/admin/companies/info/{{ company['company_id']  }}">{{ company['name'] }}</a>
            </td>
            <td>
              {{ company['date_updated'].strftime('%b %d, %I:%M %p') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Recent News -->
<div class="col-lg-6">
  <h2>Recent News</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
      <thead>
        <tr>
          <th class="header">Company</th>
          <th class="header">Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for news in d['recently_added_news'] %}
          <tr>
            <td>{{ news['headline'] }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Simple Stats -->
<div class="col-lg-6">
  <h2>Simple Stats</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
      <tbody>
        <tr>
          <td><b>Companies</b></td>
          <td>{{ d['stats']['company_count'] }}</td>
        </tr>
        <tr>
          <td><b>People</b></td>
          <td>{{ d['stats']['people_count'] }}</td>
        </tr>    
        <tr>
          <td><b>Articles</b></td>
          <td>{{ d['stats']['article_count'] }}</td>
        </tr>                  
      </tbody>
    </table>
  </div>
</div>